.about-me {
  h2 {
    margin-bottom: 2%;
    @include header-shadow($pop2);
  }
  .down-arrow{
    background-color: $pop2;
  }
  @include mq-tablet {
    .flex-center {
      flex-direction: column;
    }
  }
}

.headshot {
  width: 20%;
  position: relative;
  transform: rotate(10deg);
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10%;
    left: -15%;
    width: 90%;
    height: 90%;
    z-index: 10;
    opacity: 70%;
    background-image: url(./assets/color-spot-2-turq.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  @include mq-tablet {
    float: left;
    width: 50%;
    margin-bottom: 10%;
  }
}

.headshot1,
.headshot2 {
  padding: 10px 10px 50px 10px;
  border: 1px solid black;
}

.headshot1 {
  opacity: 100;
}

.headshot2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  animation: pic-switch 10s infinite;
}

@keyframes pic-switch {
  0%, 50%, 100% {
    opacity: 100;
  }
  1%, 49% {
    opacity: 0;
  }
}

.profile {
  margin-left: 5%;
  width: 75%;
  p:not(:last-of-type) {
    margin-bottom: 20px;
  }
  @include mq-tablet {
    margin-left: 0;
    width: 100%;
  }
}