footer {
  padding: 2% 0 5% 0;
  h2 {
    margin-bottom: 5%;
    z-index: 10;
    @include header-shadow($pop2)
  }
  h3 {
    text-align: center;
    font-weight: 400;
  }
  .wrapper {
    flex-direction: column;
  }
  .social-icons {
    margin-top: 10%;
    justify-content: space-between;
    i {
      font-size: 2rem;
    }
  }
  .social-icons a {
    transition: all 0.3s;
    &:hover,
    &:focus {
      color: $pop2;
      animation: social-hover 0.75s;
    }
  }
  .email-link {
    z-index: 10;
    position: relative;
    @include anchor-shadow($pop2);
  }
  @include mq-tablet {
    @include background-image;
    * {
      text-shadow: 1px 1px 1px $main-light;
    }
  }
}

@keyframes social-hover {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5)
  }
  75% {
    transform: scale(1.25)
  }
}