html {
  font-size: 125%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  @include background-image;
  @include mq-tablet {
    background: $main-light;
  }
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $header-font;
  z-index: 10;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h2 {
  position: relative;
  text-align: center;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

section {
  padding: 2% 0;
  min-height: calc(100vh - 20px);
  margin: 5% 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  width: 75px;
  background: rgba(255, 255, 255, 0.5);
  animation: bounce 5s infinite;
  img {
    height: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes bounce {
  0%, 10%, 20%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  5% {
    transform: translateX(-50%) translateY(-50px);
  }
  15% {
    transform: translateX(-50%) translateY(-25px);
  }
}