header {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 0 5vh 0;
  text-align: center;
  .inner-border {
    flex-direction: column;
    height: 90%;
    width: 90%;
    @include inner-border($main-light);
  }
  h1 {
    text-align: center;
    font-size: 4rem;
    position: relative;
    text-shadow: 1px 1px 1px $main-light;
  }
  @include mq-tablet {
    @include background-image;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}