header {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: $main-light;
  background-image: url('./assets/header-color-spot.png');
  background-size: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  h1 {
    text-align: center;
  }
  .down-arrow {
    background-color: white;
  }
  @include mq-tablet {
    background-size: 80%;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}