.projects {
  background-color: $main-light;
  position: relative;
  h2 {
    margin-bottom: 2%;
    z-index: 10;
    @include header-shadow($pop)
  }
  & > p {
    width: 100%;
  }
  i {
    font-size: 1.5rem;
    margin: 0 1%;
  }
  .down-arrow {
    background-color: $main-col;
    bottom: 2%;
  }
}

.project-container {
  &:not(:first-of-type) {
    margin: 10% 0 0 0;
  }
  &:first-of-type {
    margin: 5% 0 0 0;
  }
  width: 100%;
  min-height: 40vh;
  justify-content: space-between;
  &:nth-of-type(2n) {
    .project-description {
      order: -1;
      @include mq-tablet {
        order: 1;
      }
    }
  }
  &:nth-of-type(3n) {
    .image-container {
      @include project-background-spot('./assets/color-spot-pink.png');
    }
  }
  &:nth-of-type(3n + 1) {
    .image-container {
      @include project-background-spot('./assets/color-spot-turq.png');
    }
  }
  &:nth-of-type(3n + 2) {
    .image-container {
      @include project-background-spot('./assets/color-spot-orange.png');
    }
  }
  a {
    position: relative;
    z-index: 10;
    @include anchor-shadow($pop);
  }
  @include mq-tablet {
    flex-direction: column;
  }
  &:not(:last-of-type) {
    @include mq-tablet {
      margin-bottom: 5%;
    }
    @include mq-mobile {
      margin-bottom: 100px;
    }
  }
}

.image-container {
  width: 35%;
  position: relative;
  z-index: 10;
  @include mq-tablet {
    width: 50%;
    align-self: flex-end;
  }
  @include mq-mobile {
    width: 100%;
  }
}


.project-description {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  min-height: 40vh;
  @include mq-tablet {
    width: 100%;
  }
}

.tech-stack{
  width: 100%;
  justify-content: flex-start;
  p {
    display: inline-block;
  }
  ul {
    li {
      text-align: center;
      line-height: 0.7;
      span {
        font-size: 0.6rem;
      }
    }
  }
}

.project-link {
  a:nth-of-type(2) {
    margin-left: 30px;
  }
}

.info {
  font-weight: bold;
}