.tools {
  min-height: 100vh;
  position: relative;
  background-color: $main-light;
  h2 {
    margin-bottom: 2%;
    @include header-shadow($main-col)
  }
  .toolbox {
    flex-wrap: wrap;
    align-content: center;
    margin: 2% 0;
    li {
      height: 200px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      @include li-background-polaroid(50%);
      &::before {
        width: calc(50% - 40px);
      }
      &:nth-of-type(3n) {
        transform: rotate(15deg);
        i {
          color: $main-light;
        }
      }
      &:nth-of-type(3n + 1) {
        transform: rotate(-15deg);
        i {
          color: $pop;
        }
      }
      &:nth-of-type(3n + 2) {
        transform: rotate(-5deg);
        i {
          color: $pop2;
        }
      }
      i {
        font-size: 2rem;
        z-index: 5;
        margin-top: 20px;
      }
      @include mq-tablet {
        width: 30%;
        @include li-background-polaroid(75%);
        &::before {
          width: calc(75% - 40px);
        }
      }
      @include mq-mobile {
        width: 100%;
      }
    }
  }
  .down-arrow {
    background-color: $main-col;
  }
  @include mq-mobile {
    padding-bottom: 150px;
  }
}